@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

@font-face{
  font-family: 'PackMan';
  src: url('./fonts/Pacfont-ZEBZ.ttf')
}

@keyframes bitHeart {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
   background: linear-gradient(0deg, rgb(205,92,92) 51.5%, #9EC480 50%);
  font-family: 'Press Start 2P', cursive;
  color: #fff;
}

.box{
  font-size: 64px;
  margin: 0x;
  padding: 24px;
  border: none;
  outline:none;
  color: #fff;
  &__true{
    background: #9EC480;
  }
  &__false{
    background: rgb(205,92,92);
  }
  &:hover{
    animation: bitHeart 4s ease-in-out 2 forwards;
  }
}

.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}



.img{
  display: block;
  width: 260px;
}


@media (max-device-width: 640px){
  body {
    height: 100vh;
  }
  .box{
    font-size: 48px;
  }
  }